.flex-container {
  display: flex;
  justify-content: center;
  background-color: inherit;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  font: green;
  float: left;
  width: 25%;
  color: #171e42;
  padding: 10px;
}

body{
  background-color: #b97446;
  font-family: 'Nunito', sans-serif;
}

h3{
	text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
